*{
  margin:0;
  padding: 0;
}
body{
  background: #222;
}
.card{
  width: 90%;
  max-width: 470px;
  background:  linear-gradient(135deg, #00feba,#5b548a);
  color: white;
  border-radius: 20px;
  text-align: center;
  padding: 40px 35px;
  margin: 0 auto;

}
.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input{
  width: 80%;
  outline: 0;
  background: #ebfffc;
  padding: 10px 25px;
  height: 50px;
  border-radius: 30px;
  margin-right: 5px;
  font-size: 18px;
}
.search button{
  background: #ebfffc;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;

}
.search button img{
  width: 16px ;
}
.weather-icon{
  width: 170px;
  margin-top: 30px;
}
.weather h1{
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col{
  display: flex;
  align-items: center;
  text-align: center;
}
.col img{
  width: 40px;
  margin-right: 10px;
}
.weather{
  display: none;
}
.error{
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
  font-style: bold;
  margin-top: 10px;
  color: rgba(227, 9, 9, 0.513);
  display: none;
}
